@import "tailwindcss";
.input {
  width: 100%;
  padding: 12px 14px;
  border-radius: 14px;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: white;
  outline: none;
}

.btn-primary {
  padding: 12px;
  border-radius: 14px;
  background: linear-gradient(to right, #fde047, #fb923c);
  color: black;
  font-weight: 600;
}
